/CompuMaster.Test.Calendar/bin/CompuMaster.Test.Calendar.dll.VisualState.xml
/CompuMaster.Test.Calendar/libs
/CompuMaster.Test.Calendar/bin
/CompuMaster.Calendar/bin
/CompuMaster.Calendar/obj
/CompuMaster.Test.Calendar/obj
/.vs
/packages
/CompuMaster.Calendar/New-NuGetPackages
/NUnit.ConsoleRunner.3.*
TestResult.xml
TestResult.JUnit.xml
nunit3-junit.xslt
CompuMaster.Calendar_v02/obj
